.main-header {
	margin: 10% 0 5% 0;
}

.organization-name {
	color: #555;
	margin: 8% 0 3% 0;
}

.offer-header {
	color: #555;
	margin: 3% 0;
}

.navbar-result {
	width: 100%;
	padding: 16px 0 0 0;
	background-color: #2F4E94 !important;
}

table thead.thead-blue th{
	background-color: #2F4E94 !important;
	border-color: #2f4b94 !important;
}
